[submodule "src/AGTHARN/uhc/plugins/UHCGenerator"]
	path = src/AGTHARN/uhc/plugins/UHCGenerator
	url = https://github.com/AGTHARN/UHCGenerator.git
[submodule "src/AGTHARN/uhc/plugins/PiggyPersonaSkins"]
	path = src/AGTHARN/uhc/plugins/PiggyPersonaSkins
	url = https://github.com/DaPigGuy/PiggyPersonaSkins.git
[submodule "src/AGTHARN/uhc/plugins/Graves"]
	path = src/AGTHARN/uhc/plugins/Graves
	url = https://github.com/HighestDreams/Graves.git
[submodule "src/AGTHARN/uhc/plugins/FlyPE"]
	path = src/AGTHARN/uhc/plugins/FlyPE
	url = https://github.com/AGTHARN/FlyPE.git
[submodule "src/AGTHARN/uhc/plugins/BirdAC"]
	path = src/AGTHARN/uhc/plugins/BirdAC
	url = https://github.com/brokiem/BirdAC.git
[submodule "src/AGTHARN/uhc/plugins/AntiXray"]
	path = src/AGTHARN/uhc/plugins/AntiXray
	url = https://github.com/Matze997/AntiXray
[submodule "src/AGTHARN/uhc/plugins/InvisibleSkinBlocker"]
	path = src/AGTHARN/uhc/plugins/InvisibleSkinBlocker
	url = https://github.com/Unickorn/InvisibleSkinBlocker
[submodule "src/AGTHARN/uhc/plugins/InvSee"]
	path = src/AGTHARN/uhc/plugins/InvSee
	url = https://github.com/BlockHorizons/InvSee
