[submodule "src/AGTHARN/uhc/plugins/UHCGenerator"]
	path = src/AGTHARN/uhc/plugins/UHCGenerator
	url = https://github.com/AGTHARN/UHCGenerator.git
[submodule "src/AGTHARN/uhc/plugins/PiggyPersonaSkins"]
	path = src/AGTHARN/uhc/plugins/PiggyPersonaSkins
	url = https://github.com/DaPigGuy/PiggyPersonaSkins.git
[submodule "src/AGTHARN/uhc/plugins/InvisibleSkinBlocker"]
	path = src/AGTHARN/uhc/plugins/InvisibleSkinBlocker
	url = https://github.com/Unickorn/InvisibleSkinBlocker
[submodule "src/AGTHARN/uhc/plugins/InvSee"]
	path = src/AGTHARN/uhc/plugins/InvSee
	url = https://github.com/BlockHorizons/InvSee
[submodule "src/AGTHARN/uhc/plugins/UHCRedstone"]
	path = src/AGTHARN/uhc/plugins/UHCRedstone
	url = https://github.com/AGTHARN/UHCRedstone
[submodule "src/AGTHARN/uhc/plugins/SteveAC"]
	path = src/AGTHARN/uhc/plugins/SteveAC
	url = https://github.com/AGTHARN/SteveAC
[submodule "src/AGTHARN/uhc/plugins/MineMod"]
	path = src/AGTHARN/uhc/plugins/MineMod
	url = https://github.com/AGTHARN/MineMod.git
