parameters:
    level: 7

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors: []

    excludes_analyse:
        - '%currentWorkingDirectory%/src/AGTHARN/uhc/plugins/*'

    paths:
        - /source/src
    bootstrapFiles:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - /source/src
    excludes_analyse:
        - source/vendor
