parameters:
    level: 1

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors: []

    paths:
        - /source/src
    bootstrapFiles:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - /source/src
    excludes_analyse:
        - source/vendor
